.body {
  & figure {
    padding: 2em;
    margin: 2em 0;
    border: solid 1px var(--color-line);
    border-radius: var(--border-radius);
    background-color: var(--color-highlight);
    position: relative;
    overflow: hidden;

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  & input[type="text"],
  & input[type="email"] {
    background-color: white;
  }
}

.button:focus {
  outline-color: var(--color-primary);
}

.not-by-ai {
  padding-bottom: 2em;
  & img {
    display: block;
    margin: auto;
  }

  @media (min-width: 800px) {
    position: fixed;
    bottom: 0;
    right: 2em;
  }
}