/* Lume's design system */
@import "css/ds.css";

/* Custom components */
@import "css/navbar.css";
@import "css/page.css";
@import "css/post-list.css";
@import "css/post.css";

/* Make the links black */
:root {
  --color-link: var(--color-base);
  --color-link-hover: var(--color-dim);
}

/* Page layout */
main {
  padding: var(--row-gap-medium) 5vw;
  max-width: 55em;
  margin: 0 auto;

  & > :first-child {
    margin-top: 0;
  }
}

/* Search tweak */
.search {
  margin-top: var(--row-gap-xsmall);
}

/* Custom styles */
.body {
  & figure {
    padding: 2em;
    margin: 2em 0;
    border: solid 1px var(--color-line);
    border-radius: var(--border-radius);
    background-color: var(--color-highlight);
    position: relative;

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}